{% extends 'baseFO.html.twig' %}
{% block stylesheet %}
{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/foInscription.css')}}">
{% endblock %}

{% block title %}AMAP | CGU{% endblock %}

{% block body %}

    <div class="center-title">
        <h1 class="titre1 txt-center">Conditions générales d'utilisation</h1>
        <p class="p">du site HappyOignon.com</p>
    </div>

    <!--FORM INSCRIPTION-->
    <form method="post">
    <div class="contain p-5">
        <div class="contain-content">
            


            <article class=" m-1-b m-3-bottom">
                <h2 class="h3 flex-center-h">Préambule</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisations sont conclues entre :<br>
                - Les gérant.e.s du site internet, ci-après désigné << les Édit.eur.ice.s >>.<br>
                -Toute personne souhaitant accéder au site et à ses services, ci-après appelé << Utilisateur>>.
                </p>
                <h2 class="h3 flex-center-h m-3-top">Article 1 - Principes</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation ont pour objet un encadrement juridique de l'utilisation du site HappyOignon.com et de ses services.
                <br><br>
                Le site internet www.happyoignon.com est un service de :<br>
                ⦁	L'association Happy Oignon<br>
                ⦁	adresse URL du site :<br> ⦁	www.happyoignon.com<br>
                ⦁	email : happyoignon@gmail.com<br>
                Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ses conditions.
                <h2 class="h3 flex-center-h m-3-top">Article 2 - Evolution et durée des CGU</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l'utilisation du service.><br>
                Le site internet www.happyoignon.com est un service de :<br>Le site HappyOignon.com se réserve le droit de modifier les clauses de ces conditions générales d'utilisation à tout moment et sans justification.
                <h2 class="h3 flex-center-h m-3-top">Article 3 - Accès au site</h2>
                <p class="rules-list">
                Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n'importe ou au site HappyOignon.com. Les frais supportés par l'Utilisateur pour y accéder ( connexion internet, matériel informatique, etc. ) ne sont pas à la charge de l'Éditeur.<br>
                Le site et ses différents services peuvent être interrompus ou suspendus par l'Éditeur, nottament à l'occasion d'une maintenance, sans obligation de préavis ou de justification.
                L'Utilisateur du site a accès aux services suivants : Achat de produits alimentaires et services d'abonnements.
                <br>Le site comprend un espace membre réservé aux utilisateurs inscrits et proposant des services liés au site principal www.happyoignon.com: Création d'un mini-site, gestion d'abonnement lié à son site et vente de produits avec ou sans abonnement.<br>
                <h2 class="h3 flex-center-h m-3-top">Article 4 - Principes</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation ont pour objet un encadrement juridique de l'utilisation du site HappyOignon.com et de ses services.
                <br><br>
                Le site internet www.happyoignon.com est un service de :<br>
                ⦁	L'association Happy Oignon<br>
                ⦁	adresse URL du site :<br> ⦁	www.happyoignon.com<br>
                ⦁	email : happyoignon@gmail.com<br>
                Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ses conditions.
                <h2 class="h3 flex-center-h m-3-top">Article 5 - Evolution et durée des CGU</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l'utilisation du service.><br>
                Le site internet www.happyoignon.com est un service de :<br>Le site HappyOignon.com se réserve le droit de modifier les clauses de ces conditions générales d'utilisation à tout moment et sans justification.
                <h2 class="h3 flex-center-h m-3-top">Article 6 - Accès au site</h2>
                <p class="rules-list">
                Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n'importe ou au site HappyOignon.com. Les frais supportés par l'Utilisateur pour y accéder ( connexion internet, matériel informatique, etc. ) ne sont pas à la charge de l'Éditeur.<br>
                Le site et ses différents services peuvent être interrompus ou suspendus par l'Éditeur, nottament à l'occasion d'une maintenance, sans obligation de préavis ou de justification.
                L'Utilisateur du site a accès aux services suivants : Achat de produits alimentaires et services d'abonnements.
                <br>Le site comprend un espace membre réservé aux utilisateurs inscrits et proposant des services liés au site principal www.happyoignon.com: Création d'un mini-site, gestion d'abonnement lié à son site et vente de produits avec ou sans abonnement.<br>
                <h2 class="h3 flex-center-h m-3-top">Article 7 - Principes</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation ont pour objet un encadrement juridique de l'utilisation du site HappyOignon.com et de ses services.
                <br><br>
                Le site internet www.happyoignon.com est un service de :<br>
                ⦁	L'association Happy Oignon<br>
                ⦁	adresse URL du site :<br> ⦁	www.happyoignon.com<br>
                ⦁	email : happyoignon@gmail.com<br>
                Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ses conditions.
                <h2 class="h3 flex-center-h m-3-top">Article 8 - Evolution et durée des CGU</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l'utilisation du service.><br>
                Le site internet www.happyoignon.com est un service de :<br>Le site HappyOignon.com se réserve le droit de modifier les clauses de ces conditions générales d'utilisation à tout moment et sans justification.
                <h2 class="h3 flex-center-h m-3-top">Article 3 - Accès au site</h2>
                <p class="rules-list">
                Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n'importe ou au site HappyOignon.com. Les frais supportés par l'Utilisateur pour y accéder ( connexion internet, matériel informatique, etc. ) ne sont pas à la charge de l'Éditeur.<br>
                Le site et ses différents services peuvent être interrompus ou suspendus par l'Éditeur, nottament à l'occasion d'une maintenance, sans obligation de préavis ou de justification.
                L'Utilisateur du site a accès aux services suivants : Achat de produits alimentaires et services d'abonnements.
                <br>Le site comprend un espace membre réservé aux utilisateurs inscrits et proposant des services liés au site principal www.happyoignon.com: Création d'un mini-site, gestion d'abonnement lié à son site et vente de produits avec ou sans abonnement.<br>
                <h2 class="h3 flex-center-h m-3-top">Article 1 - Principes</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation ont pour objet un encadrement juridique de l'utilisation du site HappyOignon.com et de ses services.
                <br><br>
                Le site internet www.happyoignon.com est un service de :<br>
                ⦁	L'association Happy Oignon<br>
                ⦁	adresse URL du site :<br> ⦁	www.happyoignon.com<br>
                ⦁	email : happyoignon@gmail.com<br>
                Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ses conditions.
                <h2 class="h3 flex-center-h m-3-top">Article 2 - Evolution et durée des CGU</h2>
                <p class="rules-list">
                Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l'utilisation du service.><br>
                Le site internet www.happyoignon.com est un service de :<br>Le site HappyOignon.com se réserve le droit de modifier les clauses de ces conditions générales d'utilisation à tout moment et sans justification.
                <h2 class="h3 flex-center-h m-3-top">Article 3 - Accès au site</h2>
                <p class="rules-list">
                Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n'importe ou au site HappyOignon.com. Les frais supportés par l'Utilisateur pour y accéder ( connexion internet, matériel informatique, etc. ) ne sont pas à la charge de l'Éditeur.<br>
                Le site et ses différents services peuvent être interrompus ou suspendus par l'Éditeur, nottament à l'occasion d'une maintenance, sans obligation de préavis ou de justification.
                L'Utilisateur du site a accès aux services suivants : Achat de produits alimentaires et services d'abonnements.
                <br>Le site comprend un espace membre réservé aux utilisateurs inscrits et proposant des services liés au site principal www.happyoignon.com: Création d'un mini-site, gestion d'abonnement lié à son site et vente de produits avec ou sans abonnement.<br>


            </article>


{% endblock %}
