{% extends 'baseFO.html.twig' %}
{% block stylesheet %}
{{ parent() }}
    <link rel="stylesheet" href="{{asset('css/foInscription.css')}}">
{% endblock %}

{% block title %}AMAP | Inscription{% endblock %}

{% block body %}



    <div class="center-title">
        <h1 class="titre1 txt-center">Formulaire d'inscription</h1>
        <p class="p">Cela ne vous prendra qu'un instant !</p>
    </div>

    <!--FORM INSCRIPTION-->
    <form method="post">
    <div class="contain p-5">
        <div class="contain-content">
            


            <article class=" m-1-b m-3-bottom">
                <div class="flex-center-h">
                    <div class="circle h2">1</div>
                    <h2 class="h2 flex-center-h">Formulaire d'inscription </h2><button style="cursor: pointer;"
                    id="openpopup-page-accueil-seo"></button><span class="details">non-modifiable</span>
                </div>
                    <div class="flex m-2-left">
                        <div class="m-05 w-50">
                            <h3><label for="name">
                                Nom 
                            </label></h3>
                            <input type="text" id="fistname" name="fistname" class="w-100" required>
                        </div>
                        <div class="m-05 w-50">
                            <h3><label for="lastname">
                                Prénom 
                            </label></h3>
                            <input type="text" id="lastname" name="lastname" class="w-100" required>
                        </div>
                    </div>
                    <div class="flex m-2-left">
                        <div class="m-05 w-50">
                            <h3><label for="name">
                                Adresse mail 
                            </label></h3>
                            <input type="email" id="email" name="email" class="w-100" required>
                        </div>
                        <div class="m-05 w-50">
                            <h3><label for="lastname">
                                Téléphone 
                            </label></h3>
                            <input type="tel" id="phone" name="phone" class="w-100" required> 
                        </div>
                    </div>
                    <div class="flex m-2-left">
                        <div class="m-05 w-50">
                            <h3><label for="name">
                                Adresse 
                            </label></h3>
                            <input type="text" id="fistname" name="fistname" class="w-100" required>
                        </div>
                        <div class="flex w-50">
                            <div class="m-05 w-50">
                                <h3><label for="lastname">
                                    Ville 
                                </label></h3>
                                <input type="text" id="adress" name="adress" class="w-100" required>
                            </div>
                            <div class="m-05 w-50">
                                <h3><label for="lastname">
                                    Code postal 
                                </label></h3>
                                <input type="text" id="postcode" name="postcode" class="w-100" required>
                            </div>
                        </div>
                    </div>
            </article>

        
            

            <div class="flex-center-h">
                <div class="circle h2">2</div>
                <h2 class="h2 flex-center-h">informations futur amapien </h2><button style="cursor: pointer;"
                id="openpopup-page-accueil-seo"></button>
            </div>

                <div class="h3 m-2-top"><h3 class="h3 m-05-top">Statut adhérent</h3> 
                    <select id="adherentlist" name="adherentlist" class="m-1-left">
                      <option value="adherentOn">Sans-statut</option>
                      <option value="adherentOff">déjà adhérent</option>
                    </select>
                  </div>

                <h3 class="h3 m-2-top">Engagements généraux</h3>
                <ul class="rules-list">
                    <li>➊ Accepter le règlement intérieur de l'association</li>
                    <li>➋ Respecter impérativement l’article 3 du règlement intérieur (pas d'échange d’argent sur le lieu de distribution)</li>
                    <li>➌ Rendre les contrats et les règlements à la date butoir (indiquée ci-après) afin d’en faciliter la gestion</li>
                    <li>➍ Récupérer ses produits aux jours et heures de distribution prévus par chaque contrat, ou prévenir les Producteurs s’il est impossible de les récupérer</li>
                    <li>➎ Lire les mails relatifs à la vie de l'association et essayer de participer à la vie sociale et démocratique de I'AMAP</li>
                </ul>
                <div><input type="checkbox"  name="generalEngagments" value="generalEngagments">
                <label for="generalEngagments"> J'accepte les engagements généraux</label></div>
                

                <h3 class="h3 m-2-top">Engagement de la distribution des panier</h3>
                <ul>
                    <li>➊ Nous attirons votre attention sur le fait que tout adhérent s'engage à assurer plusieurs distributions (3 à 4 en cours d'année), et qu'il est responsable    detrouver un remplaçant s'il ne peut pas assurer sa distribution, au plus tard 2 jours avant le mercredi (sauf bien évidemment cas de force majeure).</li>
                    <li>➋ Nous comptons sur vous pour respecter cette demande :-) qui permet d'assurer le bon déroulement des distributions.</li>
                </ul>   
                <input type="checkbox" id="distributionEngagments" name="distributionEngagments" value="distributionEngagments">
                <label for="distributionEngagments"> J'accepte les engagements de la distribution des paniers</label>

                <h3 class="h3 m-2-top">Partager mes coordonnées pour le co-retrait des paniers</h3>
                <p>Vous souhaitez savoir si des adhérents de l’AMAP habitent près de chez vous afin d’organiser des roulements lors du retrait des paniers. Pour cela, il suffit de nous autoriser à communiquer vos coordonnées (email et adresse) aux autres adhérents. Puis vous vous arrangez directement…</p>  
                <input type="checkbox" id="datasConsent" name="datasConsent" value="datasConsent">
                <label for="datasConsent"> J'accepte de partager mes données dans le cadre du co-retrait des paniers des paniers</label>

                <h3 class="h3 m-2-top">Règlement de votre adhésion à (!!!!dynamiser!!!!)</h3>
                <p>Cette année encore, vous pouvez régler en ligne les 10€ d'adhésion à l'association. Pour cela, un lien vers la plateforme de paiement en ligne helloasso.com sera indiqué dans le récapitulatif de votre pré-inscription. Nous vous invitons à choisir cette solution car elle facilite grandement notre gestion.</p>  
                <select name="payment" id="payment" name="payment">
                    <option value="helloasso"> Payer sur helloasso.com </option>                 
                    <option value="cheque"> Par chèque </option> 
                </select> 

                <h3 class="h3 m-2-top">Souhaitez-vous un panier de légumes</h3>
                <p>Le panier sera à composer dans le contrat. Exemple de contenu (famille):</p>
                <ul>
                    <li>1,5kg de pomme de terre</li>
                    <li>1,4kg de courge muscade</li>
                    <li>1kg de poireaux</li>
                    <li>2 salades</li>
                    <li>1kg de carottes</li>
                </ul>
                <input type="checkbox" id="panierFor1" name="panierFor1" value="panierFor1">
                <label for="panierFor1"> Je souhaite un panier de légumes/semaine pour 1 personne</label>
                <input type="checkbox" id="panierFor2" name="panierFor2" value="panierFor2">
                <label for="panierFor2"> Je souhaite un panier de légumes/semaine pour 2 personnes</label>
                <input type="checkbox" id="panierFor3" name="panierFor3" value="panierFor3">
                <label for="panierFor3"> Je souhaite un panier de légumes/semaine pour 4/5 personnes</label>

                <h3 class="h3 m-2-top">► Souhaitez-vous un produit en plus dans votre abonnement ?</h3>
                <p>Les produits seront disponibles par contrats suite à l'inscription.</p>
                <input type="checkbox" id="jam" name="jam" value="jam">
                <label for="jam"> Confiture de saison</label>
                <input type="checkbox" id="eggs12" name="eggs12" value="eggs12">
                <label for="eggs12"> Œufs x6</label>
                <input type="checkbox" id="eggs12" name="eggs12" value="eggs12">
                <label for="eggs12"> Oeufs x12</label>
                <input type="checkbox" id="nuts" name="nuts" value="nuts">
                <label for="nuts"> Noix 1kg</label>

                <h3 class="h3 m-2-top">► A propos du COLLECTIF</h3>
                <p>Cras eleifend tempus facilisis. Maecenas ultrices vehicula interdum. Phasellus finibus nunc at ipsum congue porttitor. Sed sit amet pellentesque enim. Vivamus congue nisi at neque bibendum maximus. Praesent sit amet interdum nisl. Mauris viverra lectus lorem, nec dictum urna bibendum non. Nulla id rhoncus odio. Etiam auctor magna non est faucibus, ac ullamcorper ex maximus. Maecenas finibus risus ante, non tempor leo scelerisque ac. Cras eleifend tempus facilisis. Maecenas ultrices vehicula interdum. Phasellus finibus nunc at ipsum congue porttitor. Sed sit amet pellentesque enim. Vivamus congue nisi at neque bibendum maximus. Praesent sit amet interdum nisl. Mauris viverra lectus lorem, nec dictum urna bibendum non. Nulla id rhoncus odio. Etiam auctor magna non est faucibus, ac ullamcorper ex maximus. Maecenas finibus risus ante, non tempor leo scelerisque ac.</p>
        </div>
        <div class="align-center m-3-top">
            <input type="submit" value="Valider" class="btn sweet-button"class=" m-1">
            <div class=" m-1"><a href="#" class="p">annuler</a> </div>
        </div>
    </div>

        
    </form> 

{% endblock %}
